<div>
  <div id="panel" style="display: flex;flex-direction: row;">
    <div id="logo">
      <i>S Z S</i>
      <h2> sklep z softłerem</h2>
    </div>
        <div id="szukaj" >
        <input type="text" [(ngModel)]="this.mainService.productsRequest.name" placeholder="Szukaj produktu">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products"><i class="fa fa-search"></i></button>
    </div>
    <div id="koszyk">
      <button id="cartBtn" routerLink="/cart"><i class="fa fa-shopping-cart" style="font-size: 50px; color: blue;"></i>
      {{getCartQuanity()}}
      </button>
      </div>
  </div>
  <div id="adm">
    <button id="admBtn" routerLink="/adm_dashboard">Panel Administratora</button>
  </div>
</div>
