#panel {
  border-bottom: 2px solid rgb(194, 194, 185);
  height: 100px;
}
div {
  background-color: rgb(229, 226, 226);
}
#logo {
  width: 15%;
  text-align: center;
  font-family: cursive;
  i {
    font-size: 2.5vw;
    color: rgb(25, 25, 185);
    font-weight: 650;
  }h2 {
    color: rgb(46, 46, 68);
    font-size: 1.1vw;
  }

}
#szukaj {
  width: 70%;
  display: inline-flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
#koszyk {
  width: 15%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
#szukaj button {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  font-size: 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 55px;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #fff;
  font-size: 20px;
  background-color: white;
  background-position: 10px 10px;
  padding: 12px 20px 12px 40px;
  height: 50px;
  width: 50%;
}
input[type=text]:focus {
  border: 3px solid #000;
  border-right: 0;
  outline: 0;
}
#adm {
  background-color: rgb(259, 256, 256);
  padding-top: 10px;
}
#cartBtn {
  background-color: rgb(229, 226, 226);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 70x;
  font-size: 20px;
  width: 70px;
}
#admBtn {
  background-color: rgb(88, 84, 84);
  color: white;
  border: rgb(92, 92, 92);
  border-radius: 4px;

}
