<div id="c">
<div class="container">
  <input type="radio" name="images" id="i1" checked>
  <input type="radio" name="images" id="i2">
  <input type="radio" name="images" id="i3">
  <div class="slide_img" id="one">
    <img src="https://cdn.pixabay.com/photo/2017/02/24/15/33/balloons-2095449__340.jpg">
    <label for="i3" class="prev"></label>
    <label for="i2" class="next"></label>
    <div class="cont" id="cont1">
      <h1><b>
        <span style="color:red">D</span>
        <span style="color:blue">Z</span>
        <span style="color:violet">I</span>
        <span style="color:green">E</span>
        <span style="color:brown">Ń</span><br>
        <span style="color:olive">D</span>
        <span style="color:darkmagenta">Z</span>
        <span style="color:teal">I</span>
        <span style="color:tomato">E</span>
        <span style="color:rgb(80, 110, 50)">C</span>
        <span style="color:orangered">K</span>
        <span style="color:darkblue">A</span>
      </b></h1>
      <h2>-50% na wszystko</h2>
    </div>
  </div>
  <div class="slide_img" id="two">
    <img src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    <label for="i1" class="prev"></label>
    <label for="i3" class="next"></label>
    <div class="cont" id="cont2">
      <h1>Zapraszamy do zapoznania się z naszą ofertą</h1>
    </div>
  </div>
  <div class="slide_img" id="three">
    <img src="https://cdn.pixabay.com/photo/2016/04/25/23/53/euro-1353420__340.jpg">
    <label for="i2" class="prev"></label>
    <label for="i1" class="next"></label>
    <div class="cont" id="cont3">
      <h1>Promocja wiosenna</h1>
      <h3>obowiązuje do 31.05.2020</h3>
      <h2>-20% na drugi produkt</h2>
      <h2>-30% na trzeci produkt</h2>
    </div>
  </div>
  <div class="nav">
    <label class="dots" id="dot1" for="i1"></label>
    <label class="dots" id="dot2" for="i2"></label>
    <label class="dots" id="dot3" for="i3"></label>
  </div>

</div>
</div>
