<div id="left">
  <b>INFO</b><br/>
  <a href="#" class="link">O nas</a><br/>
  <a href="#" class="link">Kariera</a><br/>
  <a href="#" class="link">Newsroom</a><br/>
  <a href="#" class="link">Kontakt</a>
</div>
<div id="center">
  <b>WSPARCIE</b><br/>
  <a href="#" class="link">Zakupy i zwroty</a><br/>
  <a href="#" class="link">Bezpieczeństwo</a><br/>
  <a href="#" class="link">Regulamin</a><br/>
  <a href="#" class="link">Prywatność</a>
</div>
<div id="right">
  <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="http://youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
  <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
  <br/>
  <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
</div>

